on:
  workflow_call:
    inputs:
      repository_name: 
        description: "The Path of the Repository to create the new release i.e. <org-name>/<repository-name>"
        required: true
        type: string
    secrets:
      GH_TOKEN:
        description: Your github token
        required: true

jobs:
  generate_release_type:
    name: "Generate Release Type"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      repository_name: ${{ inputs.repository_name }}
    outputs:
      release_type: ${{ steps.generate-release-type.outputs.RELEASE_TYPE }}
    steps:
      - name: Get Merged Branch Name
        id: get-merged-branch-name
        run: |
          echo "Retrieve last merged branch name"
          pullRequestId=$(gh search prs -R $REPOSITORY_NAME --limit 1 --merged --json number | jq '.[0].number')
          branchName="$(gh pr view $pullRequestId -R $REPOSITORY_NAME --json headRefName | jq -r '.headRefName')"
          echo "Branch name is $branchName"
          echo "BRANCH_NAME=$branchName" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY_NAME: ${{ env.repository_name }}
      - name: Generate Release Type
        id: generate-release-type
        run: |
          echo "Determining if release is a major or minor version or patch"
          if [[ ${BRANCH_NAME,,} == *"release"* ]]; then
            releaseType="major"
          elif [[ ${BRANCH_NAME,,} == *"feature"* ]]; then
            releaseType="minor"
          elif [[ ${BRANCH_NAME,,} == *"fix"* ]]; then
            releaseType="patch"
          else
            releaseType="none"
          fi
          echo "Release type is: $releaseType"
          echo "RELEASE_TYPE=$releaseType" >> "$GITHUB_OUTPUT"
        env:
          BRANCH_NAME: ${{ steps.get-merged-branch-name.outputs.BRANCH_NAME }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}